/* CSSTerm.com CSS Login Form Dark Maxi */

.example {
    background-color: #eee;
    width: 150px;
    height: 100px;
    border:1px #525d65 solid;
    overflow-y: scroll; /* Add the ability to scroll */
  }
  
  /* Hide scrollbar for Chrome, Safari and Opera */
  .example::-webkit-scrollbar {
      display: none;
  }

.login { 
	width:505px;
	margin:auto;
	border:1px #CCC solid;
	padding:30px;
	background-color:#eee !important;
	height:170px;
}

.field, .btn {
	border:1px #525d65 solid;
	padding:10px;
}

.field { 
	background: #eee !important;
	margin:5px 25px;
	width:216px;
}

.login h1, .login p, .btn, .forgot { color: #CCC; }

.btn {
	background-color: #29363f;
	font-weight:bold;
	margin:10px 25px;
	width:238px;
}

.lgn_left, .lgn_right { height: 100%; }

.lgn_left {
	width: 200px;
	border-right:1px #525d65 solid;
	float:left;
	
}

.lgn_right {
	width: 300px;
	float:right;
	text-align:center;
}