body {
  font-family: "Lato", sans-serif;
}

.myapp{
  background-color: black;
  background-image: radial-gradient(green,skyblue);
}

.menubr{
  font-size:30px;
  cursor:pointer;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.content {
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.sidenavclose{
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenavopen{
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

.sidenavopen a, .sidenavclose a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenavopen a:hover, .sidenavclose a:hover {
  color: #f1f1f1;
}

.sidenavopen .closebtn, .sidenavclose .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenavopen, .sidenavclose {padding-top: 15px;}
  .sidenavopen a, .sidenavclose a {font-size: 18px;}
}